* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  color: #333333;
  background: #fed;
  scroll-behavior: smooth;
}
section.full-page {
  height: 100vh;
  width: 100%;
}
.welcome {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 40px;
  flex-direction: column;
  position: relative;
}
.welcome em {
  font-size: 30px;
  line-height: 40px;
}
.welcome span {
  font-size: 20px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 50px;
}
.welcome .downlink {
  color: #333333;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  font-size: 40px;
  text-align: center;
  width: calc(100% - 80px);
}

.preface {
  font-size: 20px;
  width: 90%;
  max-width: 1300px;
  margin: 40px auto;
}

.item {
  width: 90%;
  max-width: 1300px;
  margin: 40px auto;
}